# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
env/
venv*/
.venv/

# Environment Files
.env

# Databases
*.db
*.sqlite3

# VSCode / IDEs
.vscode/
.idea/

# OS files
.DS_Store

# Qdrant/Vector store
storage/
snapshots/
.qdrant*
*.exe
*.log

# Ollama
*.gguf

# Streamlit
.streamlit/
